<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @customer_order.order_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @customer_order.customer.first_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @customer_order.deliveryEmployee.name %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @customer_order.delivery_time %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
<%= link_to 'Back', customer_orders_path %>
