<p id="notice"><%= notice %></p>

<h1>Listing Delivery Employees</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Sex</th>
      <th>Email</th>
	  <th>Date joined </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_employees.each do |delivery_employee| %>
      <tr>
        <td><%= delivery_employee.name %></td>
        <td><%= delivery_employee.phone_number%></td>
        <td><%= delivery_employee.sex %></td>
        <td><%= delivery_employee.email %></td>
		<td><%= delivery_employee.date_joined %></td>
        <td><%= link_to 'Show', delivery_employee %></td>
        <td><%= link_to 'Edit', edit_delivery_employee_path(delivery_employee) %></td>
        <td><%= link_to 'Destroy', delivery_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery employee', new_delivery_employee_path %>
