<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
   <%= image_tag(@pizza.image, :size=>"100x80") %>
</p>
<p>
  <strong>Pizza name:</strong>
  <%= @pizza.pizza_name %>
</p>

<p>
  <strong>Pizza size:</strong>
  <%= @pizza.pizza_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= euro @pizza.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pizza.description %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= yesno(@pizza.vegetarian) %>
</p>

<p>
  <strong>Gluten free:</strong>
  <%= glutenfree(@pizza.gluten_free) %>
</p>

<p>
  <strong>Spice level:</strong>
  <%= @pizza.spice_level %>
</p>


<% if signed_in2? %>	
<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<% end %>
<%= link_to 'Back', pizzas_path %>
