<p><b> Items on the order </b></p>
<% @order.lineitems.each do |item| %>
	<%= item.quantity %> &times; <%= item.pizza.pizza_name %> @
	<%= euro(item.pizza.price)%><br />
	<% end %>
	<br />
	Total Price <%= euro(@order.total)%>
	<br />
	<div class="btn btn-default">
		<%= link_to "Home", root_path %>
	</div>	