<p id="notice"><%= notice %></p>

<p>
  <strong>Dessert name:</strong>
  <%= @dessert.dessert_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= euro @dessert.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dessert.description %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= yesno(@dessert.vegetarian) %>
</p>

<p>
  <strong>Gluten free:</strong>
  <%= glutenfree(@dessert.gluten_free) %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@dessert.image, :size=>"100x80") %>
</p>

<% if signed_in2? %>
	<%= link_to 'Edit', edit_dessert_path(@dessert) %> 
<% end %>	
<%= link_to 'Back', desserts_path %>
