<p id="notice"><%= notice %></p>

<h1>Listing Sides</h1>

Can't find what you are looking for? <%=link_to "Click here", search_index_path %>

<p> <% if signed_in2? %>
			<%= link_to 'Apply Discount', discount2_path, method: :get %>
<% end %>
</p>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>Side name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Vegetarian</th>
      <th>Gluten free</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sides.each do |side| %>
      <tr>
        <td><b><%= side.side_name %></b></td>
        <td><%= euro side.price %></td>
        <td><%= side.description %></td>
        <td><%= yesno(side.vegetarian) %></td>
        <td><%= glutenfree(side.gluten_free) %></td>
        <td><%= image_tag(side.image, :size=>"100x60") %></td>
		
        <td><%= link_to 'Show', side %></td>
		
	<% if signed_in2? %>	
        <td><%= link_to 'Edit', edit_side_path(side) %></td>
        <td><%= link_to 'Destroy', side, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>	
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in2? %>
<%= link_to 'New Side', new_side_path %>
<% end %>
