<!DOCTYPE html>
<html>
<head>
  <title>Pizzaapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	background-color: #ffe6cc
}
th, td {
    padding: 5px;
    text-align: center;
}


body {
    background-image: url("background.jpg.jpg");
    background-repeat: repeat-x;
}
</style>
<body>

	<div class="page-header">
		<div id = "banner">
		  <%= link_to image_tag("pizza.jpg"), root_path%>
		</div>
		
	</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
	
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		
        <li><%=link_to "Pizzas", pizzas_path%>
		<li><%=link_to "Sides", sides_path%>
		<li><%=link_to "Desserts", desserts_path%>
		<li><%=link_to "Drinks", drinks_path%>
		<li><%=link_to "About us", pages_about_path %>
		
		<% if signed_in? %>
			<li><%=link_to "Edit Details", edit_customer_path(@current_customer.id)%></li>
		<% else %>
			<li><%=link_to "Register", new_customer_path%></li>
		<% end %>
		
		<% if !signed_in? %>
			<li><%=link_to "Login", login_path%></li>
		<% else %>
			<li>Signed in as <%= @current_customer.first_name %></li>
			<li><%= link_to "Log out", logout_path %></li>
		<% end %>
		
		<% if signed_in2? %>
			<li><%=link_to "Edit Details", edit_delivery_employee_path(@current_delivery_employee.id)%></li>
		<% end %>	
			
		<% if !signed_in2? %>
			<li><%=link_to "Employee Login", login2_path%>
		<% else %>
			<li><Signed in as <%= @current_delivery_employee.name %></li>
			<li><%= link_to "Logout", logout2_path %></li>
		<% end %>
		<li><%=link_to "Reviews!", reviews_path %></li>
		
		
	
		
      </ul>
	  
	  
      
	  
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Order Now! <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><%=link_to "Pizzas", pizzas_path%>
				<li><%=link_to "Sides", sides_path%>
				<li><%=link_to "Desserts", desserts_path%>
				<li><%=link_to "Drinks", drinks_path%>
				
			</ul>
        </li>

			
	
	<% flash.each do |key, value| %>
		<div class="flash <%=key %>">
			<%=value%>
		</div>
	<% end %>	
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

		
</body>


<%= yield %>

		<footer class="container-fluid text-center">
			<a class="up-arrow"  data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br><br>
		<p>Website Created by Anam Ali </p>
		<p> <a href="https://github.com/AnamAli1996" data-toggle="tooltip" title="Github">Github Account</a></p> 
		</footer>
	

<script>
$(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip(); 
})
</script>


</html>
